.has-tiled-background {
  @include tiled-background;
}

.move-up {
  position: relative;
  margin-top: -8rem;
  z-index: 10;
}

.single-ccgn-platforms {
  &.ccgn-platforms-template-default {
    .main-content {
      padding-bottom: 0;
    }
  }
}

.single {
  .single-header {
    background-color: $white;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 23vh;
      top: 0;
      @include tiled-background;
    }
  }
}

.main-header {
  .navbar {
    .login-button {
      margin-left: $space-normal;
      text-transform: initial;
      font-family: $family-source-sans-pro;
      font-weight: 700;
      .icon {
        padding-right: 1.8rem;
        padding-top: 0.1rem;
        .dashicons {
          &:before {
            width: 15px;
            height: 15px;
            font-size: 15px;
          }
        }
      }
    }
    .user-menu {
      .control {
        max-width: 10rem;
      }
    }
  }
}
