.home-featured {
  margin-top: 3rem;
  .grid-container {
    grid-template-columns: repeat(12, minmax(8.3vw, 1fr));
    grid-gap: 1.5rem;
    .cell {
      padding-top: 0;
      padding-right: 0;
    }
  }
  .homepage-block {
    padding: 0;
    height: 30vh;
    &.use-2-rows {
      height: 60vh;
    }
    &.site-welcome {
      padding: 0 2rem;
      .title {
        margin-top: -2rem;
        font-size: unquote("clamp(2.2rem, 1.1222rem + 1.8889vw, 3.56rem)");
      }
    }
    &.color-block {
      overflow: hidden;
      &.block-1 {
        transform: skew(-2deg, -1deg) translatex(-1vw);
      }
      &.block-2 {
        transform: skew(1deg, 2deg) translatex(4vw);
      }
      &.block-3 {
        transform: translatex(-2vw);
      }
      &.block-4 {
        transform: skew(4deg, -5deg) rotate(3deg) translatey(-0.2vw);
      }
    }
    &.card-block {
      height: 30vh;
      .card {
        height: 100%;
        &.entry-post {
          &.link {
            a {
              height: 100%;
              .card-content {
                &.has-bottom-link {
                  padding: 0 0 1rem 0;
                  .card-title {
                    font-size: 1.75rem;
                  }
                }
              }
            }
          }
        }
      }
      &.card-1 {
        .card {
          overflow: visible;
          a {
            transform: skew(0deg, 3deg) rotate(-2.5deg);
          }
        }
      }
      &.card-2 {
        .card {
          overflow: visible;
          a {
            transform: skew(-4deg, 3deg) rotate(-3deg);
          }
        }
      }
    }
    &.image-block {
      &.background-effect {
        @include duotone-effect;
        &.tomato {
          @include duotone-red;
        }
        &.blue {
          @include duotone-blue;
        }
      }
      &.image-1 {
        transform: skew(1deg, 1deg);
        .caption {
          top: -0.3rem;
          right: -0.3rem;
        }
      }
      &.image-2 {
        transform: skew(-1deg, 2deg) rotate(-1.5deg);
        .caption {
          @include offset-bottom-left;
        }
      }
      &.image-3 {
        transform: skew(-5deg, 4deg) rotate(-5deg) translatex(1.5vw);
        .caption {
          @include offset-bottom-left;
        }
      }
      &.image-4 {
        transform: skew(-1deg, -2deg) rotate(1deg) translatex(-0.5vw);
        .caption {
          @include offset-bottom-left;
        }
      }
      &.image-5 {
        transform: translatex(-1vw);
        .caption {
          @include offset-bottom-left;
        }
      }
      &.image-6 {
        .caption {
          @include offset-bottom-left;
        }
      }
      .caption {
        @include caption-style;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        filter: saturate(0%);
      }
    }
  }
}

.platforms {
  margin-bottom: 7rem;
  .container {
    position: relative;
    top: 7rem;
    .grid-container {
      grid-gap: 2rem;
    }
  }
}
.homepage-widgets {
  margin-top: 12rem;
  margin-bottom: 2rem;
}
.platform-featured {
  .grid-container {
    .cell {
      padding: 0;
      &.image-item {
        max-height: 373px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.entry-header {
  h1 {
    color: $color-dark-slate-blue;
  }
  .platform-description {
    font-size: $font-size-body-bigger;
  }
}

.platform-featured {
  .grid-container {
    .image-item {
      @include duotone-effect;
      &:nth-child(odd) {
        @include duotone-blue;
      }
      &:nth-child(even) {
        @include duotone-red;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        filter: saturate(0%);
      }
    }
  }
}

.projects {
  .grid-container {
    .card {
      border-radius: 0;
      box-shadow: inset 0px 3px 0px $color-black;
      .card-content {
        padding-bottom: 3.2rem;
        .card-title {
          @extend .b-header;
          @extend .title;
          @extend .is-5;
        }
        .button {
          float: right;
          margin-top: 1rem;
          font-family: $family-primary;
          text-transform: none;
          color: $color-tomato;
          &:after {
            content: "";
            margin-left: 0.3rem;
            font-size: 0.8rem;
            font-weight: initial;
            font-family: "Vocabulary Icons", monospace !important;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.project-resources {
  .resources-list {
    padding-left: $space-normal;
    margin-top: $space-bigger;
    list-style-type: disc;
  }
}

.platform-footer {
  h1 {
    color: $white;
  }
  .button-container {
    margin-bottom: $space-bigger;
    h4 {
      color: $white;
      margin-bottom: 0.8rem;
    }
    .body-small {
      margin-bottom: 0.8rem;
    }
    .button {
      &.is-primary {
        background-color: $color-soft-tomato;
        color: $color-tomato;
      }
    }
  }
  .bottom-image {
    position: relative;
    top: 0.3rem;
    width: 40vw;
    @include duotone-effect;
    @include duotone-blue;
    .caption {
      @include caption-style;
      top: 0;
      right: 0;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      filter: saturate(0%);
    }
  }
}
.entry-header {
  position: relative;
  .entry-thumbnail {
    position: absolute;
    right: 0;
    top: $space-bigger;
    width: 30vw;
    max-height: 50vh;
    overflow: hidden;
    .image {
      @include duotone-effect;
      @include duotone-red;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        filter: saturate(0%);
      }
    }
  }
}
.link-list {
  a {
    margin-right: $space-small;
    margin-bottom: $space-small;
    &:last-child {
      margin-right: 0;
    }
  }
}
.vouch-list {
  list-style-type: none !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 3rem !important;
  padding-left: 0 !important;
  .vouch-item {
    margin: 0;
    a {
      @extend .button;
      @extend .is-text;
      display: block;
      padding: 0.5rem;
      border-bottom: 1px solid $color-lighter-gray;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.entry-single-member {
  .entry-image {
    margin: auto;
  }
  .entry-title {
    display: block;
    a {
      color: $black;
    }
  }
}

.ccgn-post {
  border: 3px solid $color-black;
  .entry-image {
    height: 15rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .entry-content {
    padding: $space-big;
    .b-header {
      a {
        color: $color-black;
      }
    }
    .entry-meta {
      display: flex;
      .entry-author {
        &:after {
          content: "";
          margin: 0 1rem;
          font-family: "Vocabulary Icons", monospace;
          font-size: 0.7rem;
          color: $color-light-gray;
        }
      }
      .entry-date {
        padding: $space-normal 0;
      }
    }
  }
}
.cc-commoners {
  .card {
    border-radius: 0;
    &.entry-status {
      .entry-status-content {
        margin-top: $space-normal;
        margin-bottom: $space-normal;
        border-top: 2px solid $color-light-gray;
        .status-date {
          display: block;
        }
        .update-date {
          padding: 0.5rem 0;
          display: block;
        }
      }
    }
    &.entry-post {
      &.link {
        a {
          border: 3px solid transparent;
          .card-content {
            display: flex;
            flex-direction: column-reverse;
            .card-title {
              @extend .title;
              @extend .is-5;
            }
            .content {
              padding-top: 0;
              font-size: 0.9rem;
              font-weight: initial;
            }
          }
          &.has-background-soft-tomato {
            background-color: $color-soft-tomato;
            color: $color-tomato;
            .card-content {
              .card-title {
                color: $color-tomato;
              }
            }
            &:hover {
              border: 3px solid $color-tomato;
            }
          }
          &.has-background-soft-blue {
            background-color: $color-soft-blue;
            color: $color-dark-slate-blue;
            .card-content {
              .card-title {
                color: $color-dark-slate-blue;
              }
            }
            &:hover {
              border: 3px solid $color-dark-slate-blue;
            }
          }
        }
      }
    }
  }
}
