.platform-sidebar {
  .widget,
  .card {
    margin-bottom: $space-normal;
  }
}
.widget {
  &.news {
    padding-top: $space-big !important;
    padding-bottom: $space-big !important;
    .widget-header {
      margin-bottom: 0 !important;
    }
    .more-news {
      margin-top: $space-big;
      font-size: 0.9rem;
    }
  }
  &.big-search {
    .search-users-form {
      .submit-form {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1.025rem;
      }
    }
  }
  .card {
    &.entry-post {
      text-align: left;
      box-shadow: inset 0px 3px 0px $color-black;
      border-radius: 0;
      .card-content {
        .card-title {
          a {
            color: $color-tomato;
          }
        }
      }
    }
  }
}
