.widget {
  &.big-search {
    .search-users-form {
      .submit-form {
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-size: 1.025rem;
      }
    }
  }
  .card {
    &.entry-post {
      text-align: left;
      box-shadow: inset 0px 3px 0px $color-black;
      border-radius: 0;
      .card-content {
        .card-title {
          a {
            color: $color-tomato;
          }
        }
      }
    }
  }
}